/* Navbar styling */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(192, 192, 192, 0.9);
    border: 1px outset rgba(192, 192, 192, 0.5);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 1000; /* Ensure it's above other elements on the page */
}

.navbar a {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
}

/* Navbar Toggle Button styling */
.navbar-toggle {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000;
    margin: 4px 0;
}

/* Responsive Navbar Collapse */
.collapse.navbar-collapse {
    background-color: rgba(192, 192, 192, 0.9);
}

.collapse.navbar-collapse ul {
    margin: 0;
    padding: 0;
}

.collapse.navbar-collapse .navbar-nav > li {
    display: inline-block;
}

.collapse.navbar-collapse .navbar-nav > li > a {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
}

.collapse.navbar-collapse .navbar-nav > li > a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
}
